@charset "utf-8";
@font-face {
    font-family: 'godoMaum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/godoMaum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: rgb(120, 120, 120);
    font-family: 'godoMaum';
}
#meal{
    text-align: center;
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    font-size: 3rem;
    -webkit-font-size: 5rem;
    border: 5px solid black;
    justify-content: center;
    display: flex; 
    margin: auto;
}
#name{ 
    width: auto;
    height: auto;
    background-color: rgb(251, 204, 209);
    border-radius: 1rem; 
    font-size: 3rem;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    margin: auto;
}
#fini{ 
    width: auto;
    height: auto;
    background-color: rgb(169, 203, 215);
    border-radius: 1rem; 
    font-size: 3rem;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}
