@charset "utf-8";
body{
    background-color: rgb(120, 120, 120);
}
#meal{
    text-align: center;
    width: auto;
    height: auto;
    background-color: rgb(85, 140, 223);
    border-radius: 1rem;
    font-size: 3rem;
    -webkit-font-size: 5rem;
    border: 5px solid black;
    justify-content: center;
    display: flex; 
    margin: auto;
}
#name{ 
    width: auto;
    height: auto;
    background-color: rgb(110, 255, 171);
    border-radius: 1rem; 
    font-size: 3rem;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    margin: auto;
}
#fini{ 
    width: auto;
    height: auto;
    background-color: rgb(110, 255, 171);
    border-radius: 1rem; 
    font-size: 3rem;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}
